/* 全体設定 */
html {
    /* background-color: #000; */
}

body {
    /* min-height: 100vh; */
    max-width: 90%;
    /* background-color: papayawhip; */
    margin: 0 auto;
}

/* 見出し */
h2 {
    position: relative;
    padding: 1.5rem 1rem;
    text-align: center;
}

h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*  */
th,
td {
    border: solid 1px;
    /* 枠線指定 */
    width: 13%;
    /* 幅指定 */
    height: 40px;
    /* 高さ指定 */
    text-align: center;
    font-size: small;
}

table {
    border-collapse: collapse;
    /* セルの線を重ねる */
    text-align: center;
    width: 90%;
    /*  幅指定 */
}

th {
    width: 13%;
    /* 幅指定 */
    height: 40px;
    /* 高さ指定 */
    text-align: center;
}

#position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#map_canvas {
    width: 100%;
    height: 700px;
    margin: 2em 0 0;
    /* text-align: right; */
}

form {
    width: 35%;
}

svg{
    vertical-align: center;
}

/* プルダウンチェックボックス */
.select2-container {
    width: 100% !important;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

/* ---------------------------------------------- */
/* 検索ボックス */
.search-form-011 {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #767d83;
    border-radius: 3px;
}

.search-form-011 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px 5px 0;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-011 input::placeholder {
    color: #767d83;
}

.search-form-011 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-011 button::before {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

/* ---------------------------------------------- */

/*--- table css ---*/
.sorttbl {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.sorttbl tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.sorttbl th:first-child,
.sorttbl td:first-child {
    padding-left: 16px;
}

.sorttbl td,
.sorttbl th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.sorttbl th {
    color: #fff !important;
    background-color: #616161 !important;
}

section {
    max-width: 300px;
    margin: 0 auto;
}


/* ---------------------------------------------- */
input.btn_03 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
    background: #228bc8;
    border: 1px solid #228bc8;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 45px 0 25px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}

input.btn_03:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -6px;
}

input.btn_03:hover {
    background: #fff;
    color: #228bc8;
}

input.btn_03:hover:before {
    border-top: 2px solid #228bc8;
    border-right: 2px solid #228bc8;
}

input.btn_02 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 120px;
    /* margin: auto; */
    /* padding: 1rem 4rem; */
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;
}

input.btn_02:hover {
    color: #27acd9;
    background: #fff;
}

/* 枠線 */
.box26 {
    position: relative;
    margin: 2em 0 0;
    padding: 1.5em 1em 0.7em;
    border: solid 3px #27acd9;
    border-radius: 8px;
    width: 90%;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #27acd9;
    font-weight: bold;
}
.box26 p {
    margin: 0; 
    padding: 0;
}

/* infowindow */
.gm-style .gm-style-iw {
    text-align: left;
}