th,
td {
    border: solid 1px;
    /* 枠線指定 */
    width: 13%;
    /* 幅指定 */
    height: 40px;
    /* 高さ指定 */
    text-align: center;
    font-size: small;
}

table {
    border-collapse: collapse;
    /* セルの線を重ねる */
    text-align: center;
    width: 90%;
    /*  幅指定 */
}

th {
    width: 13%;
    /* 幅指定 */
    height: 40px;
    /* 高さ指定 */
    text-align: center;
}

#position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#map_canvas {
    width: 55%;
    height: 600px;
}

form {
    width: 40%;
}


/* プルダウンチェックボックス */
.select2-container {
    width: 70% !important;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
/* ---------------------------------------------- */
/* 検索ボックス */
.search-form-011 {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #767d83;
    border-radius: 3px;
}

.search-form-011 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px 5px 0;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-011 input::placeholder {
    color: #767d83;
}

.search-form-011 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-011 button::before {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}
/* ---------------------------------------------- */

/*--- table css ---*/
.sorttbl{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}
.sorttbl tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.sorttbl th:first-child,
.sorttbl td:first-child{
    padding-left: 16px;
}
.sorttbl td,
.sorttbl th{
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}
.sorttbl th{
    color: #fff!important;
    background-color: #616161!important;
}
